@{
    
    ViewData["Title"] = "Server Error";
}
{
<div class="text-center" style="margin-top: 100px;">
    <h1 style="font-size: 100px; color: red;">500</h1>
    <h2>Error in the server</h2>
    <p>Currently working on the problem-try again later!</p>
    <hr />
    <a href="/" class="btn btn-outline-primary">Back</a>
</div>
}
