@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewData["Title"] = "About Us";
}

<div class="container mt-5">
    <h1 class="display-4 fw-bold text-dark mb-4">About Our Company</h1>

    <div class="p-5 bg-light border rounded-4 shadow-sm">
        
        <h2 class="fw-bold mb-4 fs-2 text-dark">A fast growing IT company</h2>
        
        <p class="fs-4 text-dark mb-4">
            Our company is a <strong>long-standing leader and a powerhouse in the IT sector</strong>. With years of experience under our belt, we are evolving from a small group keen on software development into a tech giant.
        </p>

        <p class="fs-5 text-secondary">
            We specialize in services in employee management systems. .
        </p>

        <ul class="list-unstyled mt-5 fs-5">
            <li class="mb-3">
                <i class="bi bi-check-circle-fill text-dark me-2"></i> 
                <strong>Years into Tech Industry:</strong> Over 12 years of experience in global IT markets.
            </li>
            <li class="mb-3">
                <i class="bi bi-check-circle-fill text-dark me-2"></i> 
                <strong>Scale:</strong> Our developments has been awarded places in top 10 most used apps in Europe.
            </li>
            <li class="mb-3">
                <i class="bi bi-check-circle-fill text-dark me-2"></i> 
                <strong>Innovation:</strong> Chasing latest innovations to implement into our products.
            </li>
        </ul>

        
    </div>
</div>


}
