@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Manager!</h1>
    <br />
    <section class="mb-5">
        <div class="p-4 bg-light border rounded shadow-sm">
            <h3 class="fw-bold mb-3 fs-3"> Our Purpose</h3>
            <p class="fw-bold mb-3 fs-3">
                To provide efficient management services by simplifying application processes for the following types of employee data:
            </p>
            <ul class=" list-unstyled ms-3 fs-5 mb-0" >
                <li class="mb-2 fs-3"> Personal Identification (Full Name)</li>
                <li class="mb-2 fs-3"> Country Details (Your home country)</li>
                <li class="mb-2 fs-3"> Gender Data(Male/Female)</li>
                <li class="mb-2 fs-3"> Contact Information (Email, Phone Number)</li>
            </ul>
        </div>
    </section>
   

</div>
